.primaryBtnD {
  all: unset;
  padding: 12px 15px;
  border-radius: var(--bRadius);
  cursor: pointer;

  svg {
    width: 15px;
    height: 15px;
    margin-inline: 7px;
  }
}

.primaryBtn {
  @extend .primaryBtnD;
  background-color: var(--color);
  border: 2px solid var(--color);
}

.primaryBtn.btnH {
  @extend .primaryBtn;

  &:hover {
    background-color: #14bae4;
  }
  &:active {
    background-color: #01b4e0;
  }
}

.primaryBtnOutline {
  @extend .primaryBtnD;
  border: 2px solid var(--color);
}

.primaryBtnOutline.btnH {
  @extend .primaryBtnOutline;

  &:hover {
    background-color: var(--colorHo);
  }
  &:active {
    background-color: var(--colorAo);
  }
}

@media screen and (max-width: 949px) {
  .primaryBtnD {
    padding: 7px 10px;
  }
}
