header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
  background-color: var(--bg);
  padding-block: 10px;
  position: sticky;
  top: 0;
  z-index: 100;

  .headerLinks {
    span {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 849px) {
  header {
    border: none;
    .headerLinks {
      position: absolute;
      right: 0;
      top: 70px;
      background-color: var(--bg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 3px;
      border-block: 1px solid rgba(255, 255, 255, 0.39);
    }
  }
}
@media screen and (max-width: 500px) {
  header {
    .headerLinks {
      * {
        margin: 10px 15px !important;
      }
    }
  }
}
