.HSlicer {
  width: 100%;
  position: relative;
  .slideWrapper {
    width: 100%;
    padding-inline: 50px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .sliderBtn {
    width: 100px;

    .iconDish {
      cursor: pointer;

      &:hover {
        background-color: rgb(95, 95, 95, 0.5);
      }
      &:active {
        background-color: var(--iconDishBg);
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - 70px);
    background: linear-gradient(
      to right,
      var(--bg),
      var(--bg),
      transparent
    );
  }
  &::before {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    left: calc(100% - 70px);
    background: linear-gradient(to left, var(--bg), var(--bg), transparent);
  }
}